@using Hospital.Entities
@{
    ViewData["Title"] = "Randevu Ekranı";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-10 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="mb-4">
            <div asp-validation-summary="All" class="text-danger small"></div>
        </div>

        <form method="post" asp-action="MakeAppointment">
            <div class="form-group">
                <label class="form-label small">Hasta Adı</label>
                <div class="input-group mb-3">
                    <input name="patientName" type="text" class="form-control" placeholder="Hasta Adınız" value="@ViewData["PatientName"]" />
                </div>
            </div>

            <div class="form-group">
                <label class="form-label small">Departman</label>
                <div class="input-group mb-3">
                    <select id="departmentSelect" name="department" class="form-control">
                    @foreach (var department in (IEnumerable<Department>)ViewData["Departments"])
                        {
                            <option value="@department.Id">@department.Name</option>
                        }                  
                        </select>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label small">Doktor Adı</label>
                <div class="input-group mb-3">
                    <select id="doctorSelect" name="doctorName" class="form-control"><
                  @foreach (var doctor in (IEnumerable<Doctor>)ViewData["Doctors"])
            {
                <option value="@doctor.Id">@doctor.Name</option>
            }/select>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label small">Randevu Tarihi</label>
                <div class="input-group mb-3">
                    <input name="appointmentDate" type="date" class="form-control" value="@ViewData["AppointmentDate"]" />
                </div>
            </div>

            <div class="form-group">
                <label class="form-label small">Randevu Saati</label>
                <div class="input-group mb-3">
                    <input name="appointmentTime" type="time" class="form-control" value="@ViewData["AppointmentTime"]" />
                </div>
            </div>

            <button type="submit" class="btn btn-secondary">Randevu Al</button>
        </form>
    </div>
</div>

<script>
    // Departman seçimi değiştiğinde tetiklenen fonksiyon
    document.getElementById('departmentSelect').addEventListener('change', function () {
        var departmentId = this.value; // Seçilen departman ID'si

        // Ajax isteği yaparak doktorları getir
        fetch('/Doctor/GetDoctorsByDepartment?departmentId=' + departmentId)
            .then(response => response.json())
            .then(data => {
                // Doktorları temizle
                var doctorSelect = document.getElementById('doctorSelect');
                doctorSelect.innerHTML = '';

                // Yeni doktorları ekle
                data.forEach(doctor => {
                    var option = document.createElement('option');
                    option.value = doctor.id;
                    option.text = doctor.name + ' ' + doctor.surname;
                    doctorSelect.add(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });
</script>