@using Hospital.Entities
@model List<Appointment>

<h2>Appointment List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Randevu ID</th>
            <th>User ID</th>
            <th>Doctor ID</th>
            <th>Department</th>
            <th>Timestamp</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.RandevuId</td>
                <td>@appointment.Id</td>
                <td>@appointment.DoctorId</td>
                <td>@appointment.Department</td>
                <td>@appointment.Timestamp</td>
                <td>@appointment.AppointmentDate</td>
                <td>@appointment.AppointmentTime</td>
                <td>
                     <form asp-controller="Appointment" asp-action="DeleteAppointments" method="post">
                     <input type="hidden" name="appointmentId" value="@appointment.RandevuId" />
                     <button type="submit" class="btn btn-danger">Sil</button>
                     </form>
                  </td>
            </tr>
        }
    </tbody>
</table>
