@using Hospital.Entities
@model List<User>

<h2>Users List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Locked</th>
            <th>CreatedAt</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Password</td>
                <td>@user.Locked</td>
                <td>@user.CreatedAt</td>
                <td>@user.Role</td>


                <td>
                    <form asp-controller="Admin" asp-action="DeleteUser" method="post">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
