@using Hospital.Entities
@model List<Doctor>

<h2>Doctor List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Doctor ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Department</th>
            <th>Work Day</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.DoctorId</td>
                <td>@doctor.Name</td>
                <td>@doctor.Surname</td>
                <td>@doctor.Username</td>
                <td>@doctor.Department.Name</td>
                <td>@doctor.CalismaGunu</td>
                <td>@doctor.BaslangicSaati</td>
                <td>@doctor.BitisSaati</td>

                <td>
                    <form asp-controller="Admin" asp-action="DeleteDoctor" method="post">
                        <input type="hidden" name="DoctorId" value="@doctor.DoctorId" />
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
